<div class="py-4 fw-light bg-dark text-light">
  <div class="container">
    <div class="align-items-center row">
      <div class="text-center text-md-start col-md-6">
        <p class="text-sm mb-md-0">© 2023, Your company. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-end">
          <li class="list-inline-item">
            <%= image_tag("footer/Visa.png",size: '40x30') %></li>
          <li class="list-inline-item">
            <%= image_tag("footer/Mastercard_new_logo.webp",size: '40x30') %></li>
          <li class="list-inline-item">
            <%= image_tag("footer/pay-pal.webp",size: '40x30') %></li>
          <li class="list-inline-item">
            <%= image_tag("footer/western-union-logo.png",size: '40x30') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
